<app-load-spinner *ngIf="isLoading"></app-load-spinner>

<div class="plate">
  <ol class="rectangle">
    <h2>Роли</h2>
    <li *ngFor="let role of (roles$ | async)" (click)="selectRole(role)">
      <a>
        {{role.name}}
        <button class="delete" (click)="deleteRole(role.id)">удалить</button>
      </a>
    </li>
    <app-modal-window *ngIf="isAvailable"
                      [modalFormGroup]="modalData"
                      (submited)="createRole($event)"
                      buttonText="Добавить роль"
                      modalText="Укажите данные"
    ></app-modal-window>
  </ol>


  <div class="data-field">

    <div class="filter-box">
      <input #search placeholder="search" (input)="onSearch(search.value)"/>
      <div class="select-box">
        <select #filterSelect [(ngModel)]="filter" (change)="setFilter(filterSelect.value)">
          <option>all</option>
          <option>isSelected</option>
          <option>isNotSelected</option>
        </select>
      </div>
    </div>

    <form [formGroup]="dataForm" (ngSubmit)="submit()">
      <h2>Группы в которые имеется доступ у роли <span class="name">{{selectedRole?.name}}</span></h2>

      <p *ngIf="errorSbj | async as error" class="error">{{error}}</p>

      <input formControlName="name"/>

      <div *ngFor="let group of filteredGroups; trackBy: group?.id">
        <input type="checkbox"
               id="{{group.id}}"
               name="{{group.id}}"
               [checked]="group.isSelected"
               (click)="selectGroup(group, selectedRole)">
        <label for="{{group.id}}">{{group.name}}</label>
      </div>

      <button type="submit" class="form-submit-button">Сохранить</button>
    </form>

    <div class="pagination-box">
      <button class="page-button" *ngFor="let page of totalPages" (click)="getPagedGroups(page)">{{page}}</button>
    </div>

  </div>
</div>
