<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\internal-nlog-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target xsi:type="File" name="InfoLogFile" encoding="utf-8"
                fileName="Logs\Info\Info.${date:format=yyyy.MM.dd}.log"
                layout="===================================================================${newline}${uppercase:${level}} ${longdate} - Thread: ${threadname} (${threadid}) - Callsite: ${callsite:className=true:includeSourcePath=true:methodName=true} ${newline}${message}${newline}" />
        <target xsi:type="File" name="ErrorLogFile" encoding="utf-8"
                fileName="Logs\Error\Error.${date:format=yyyy.MM.dd}.log"
                layout="===================================================================${newline}${uppercase:${level}} ${longdate} - Thread: ${threadname} (${threadid}) - Callsite: ${callsite:className=true:includeSourcePath=true:methodName=true} ${newline}${message}${newline}" />
        <target xsi:type="File" name="RequestResponseLogFile" encoding="utf-8"
                fileName="Logs\RequestResponses\RequestResponses.${date:format=yyyy.MM.dd}.log"
                layout="===================================================================${newline}${uppercase:${level}} ${longdate} - ${callsite:className=true:includeSourcePath=true:methodName=true} ${newline}${message}${newline}" />
        <target xsi:type="File" name="DbRequestsLogFile" encoding="utf-8"
                fileName="Logs\DbRequests\DbRequests.${date:format=yyyy.MM.dd}.log"
                layout="===================================================================${newline}${uppercase:${level}} ${longdate} - ${callsite:className=true:includeSourcePath=true:methodName=true} ${newline}${message}${newline}" />
    </targets>

    <rules>
        <logger name="*" level="Info" writeTo="InfoLogFile" />
        <logger name="*" level="Error" writeTo="ErrorLogFile" />
        <logger name="RequestLogger" level="Info" writeTo="RequestResponseLogFile" />
        <logger name="DbRequestsLogger" level="Info" writeTo="DbRequestsLogFile" />
    </rules>
</nlog>